body{
    background-color: rgb(224, 235, 238);
}
.qr{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    width: 20%;
    margin: 50px auto;
    padding-bottom: 2px;
    box-shadow: 2px 2px 10px rgb(206, 206, 206);
}
.qr img{
    width: 51px;
    margin:3px 3px 0;
    border-radius: 3px;
    
}
.qr h5{
    font-size: 3.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 5px;
    font-weight: bolder;
    
}
.qr p{
    font-size: 3px;
    font-weight: 600;
    margin: 2px 4px;
    color: rgb(170, 168, 168);    
}